
.CardComic {
	cursor: pointer;

	&:hover {
		.titlecomic {
			color: #ec1d24;
		}

		.authorcomic {
			color: #ec1d24a1;
		}

		.midia {
			height: 70%;
			transition: .5s;
		}

		.readme {
			display: block;
		}
	}
}

.midia {
	height: 80%;
	box-shadow: 0 0 1em #202020;
	background: transparent;
	transition: .2s;
}

.readme {
	display: none;
}
