.modal {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box {
	position: absolute;
  transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
  width: 60%;
	height: 50%;
  background-color: rgb(255, 255, 255);
	padding: 2rem;
	border: 0;

}
